@model TruckEvent.WebApi.ViewModels.EnvioConviteEventoViewModel
@{
    ViewBag.Title = "Convite para Evento";
    Layout = null;
    var variaveisRota = string.Format("http://truckeventssite.azurewebsites.net?id={0}&email={1}&token={2}&tipo={3}", Model.Id_Evento,Model.Email, Model.Token,"l");
}

<!DOCTYPE html>

<html>

<head>
    @Styles.Render("~/Content/css")
    <meta name="viewport" content="width=device-width" />
    <title>Convite</title>
</head>
<body>
    <div>
        <h1>Convite para Evento</h1>
        <h3>Convidado pelo Organizador : @Model.Usuario_Organizador.RazaoSocial </h3>
        <p>Olá , você foi convidade para participar do Evento @Model.Evento.Descricao, para aceitar o convite clique no Link abaixo:  </p>
        <a href= @variaveisRota  >Aceitar Convite</a>
            </div>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
